@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.start-rating-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px;
    gap: 10px;
}
.rating-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}
.start-rating-container img{
    width: 60px;
    cursor: pointer;
}