@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 54, 54);
    flex-direction: column;
}
.container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* border: 1px solid beige; */
    gap: 30px;
}
.container button{
    width: 10%;
    height: 30%;
    font-size: 50px;
    font-weight: bolder;
    border: none;
    background-color: rgb(55, 54, 54);
    color: white;
    cursor: pointer;
}
.container button:hover{
    color: rgb(27, 197, 27);
}
