@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.progress{
    display: flex;
    justify-content:center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: red;
    width: 60%;
    height: 25px;
    overflow: hidden;
    border-radius: 2rem;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.progress div{
    /* border: 1px solid black; */
    background-color: red;
    width: 25%;
    height: 100%;
}
.progress25{
    background-color: red;
    transition: all 1s ease;
    /* background-color: blue; */
}
.progress50{
    background-color: red;
    transition: all 0.9s ease;
}
.progress75{
    background-color: red;
    transition: all 0.9s ease;
}
.progress100{
    background-color: red;
    transition: all 0.9s ease;
}
.btn{
    width: 60%;
    text-align: center;
}
.btn button{
    cursor: pointer;
    width: 40%;
    height: 30px;
    border-radius: 2rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
}