@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}
.copybtn{
    /* width: 150px; */
    cursor: pointer;
    /* background-color: white; */
}
/* .copybtn img{
    width: 100px;
} */
#random{
    /* padding: 5px; */
    background-color: red;
    border: none;
    width: 220px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
}
#copybutton{
    background-color: red;
    border: none;
    width: 240px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
}
