@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 900px;
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-position: left;
}
.slider .imgholder img{
    transition: all 0.8s ease;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons button{
    padding: 7px 25px;
    font-size: 15px;
    font-weight: bold;
}